<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/"><span class="icon-twilio-icon pr-2"></span>Twilio Messaging Services Demonstration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="" data-toggle="modal" data-target="#modal"><i class="fas fa-question-circle pr-2"></i>Help</a>
            </li>
        </ul>
    </div>
</nav>